@use "../../styles/_variables" as *;
@use "../../styles/mixins" as *;

.root {
  color: $hyperlink-color;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: 800;
  text-decoration: none;
  width: fit-content;
  //margin:0 0 6.6px;
  transition: all 300ms ease-in 0s;
  cursor: pointer;
  line-height: 1.7;
  position: relative;

  &:hover {
    padding: 0 0 0 2rem;
  }

  &:after {
    content: '';
    position: absolute;
    width: calc(100% - 2rem);
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 2rem;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 300ms ease-out 200ms;
  }

  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

}

.selected {
  color: $selected-color;
}


.shake{
  @include shakeItem;
}

