@use '../../styles/_variables' as *;
@use "../../styles/mixins" as *;
@use "../../styles/_typograpghy" as *;

.root{

  @extend .module;

  .headerCell{
    @extend .title
  }

  tr > th{
    border-left: $border-color solid 1px;
  }

  tr > td{
    border-right: $border-color solid 1px;
  }

  th, td{
    color: $text-color;
  }
}
