@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;
@use '../../styles/typograpghy' as *;

.root {
  @extend .module;

  .headerRow > th {
    border-left: transparent;
  }
  .headerCell {
    @extend .title;
    padding-left: 0;
    margin-left: 0;
    border-bottom: $border-color solid 1px;
  }

  tr > th {
    border-left: $border-color solid 1px;
  }

  tr > td {
    border-right: $border-color solid 1px;
  }

  th,
  td {
    color: $text-color;
  }
}
