@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.root {
  @extend .module;
  height: 100%;
  position: relative;

  .toggleRoot {
    color: $text-color;
    position: absolute;
    top: 1rem;
    right: 1rem;
  }

}

.picture {
  height: 125px;
  width: auto;
  transform: translate(-8%, 8%);
}

.info {
  color: $text-color;
  min-height: 100%;

  @media screen and (max-width: $md){
    min-height: fit-content;
  }

}


