@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.root {
  background-color: $background-color;
  margin: 0;
  height: 100vh;
  overflow-y: auto;
  @include noScrollBar;

  .navbar {
    border-right: 1px dashed $border-color;
    @media screen and (max-width: $md) {
      border-right: 0;
    }
  }
}
